header ul{
    flex-direction: column;
}
.others{
    width: 80%;
}
.nav_intro p{
    font-size: 1.5rem;
}
.logo li .dmrs_logo{
    height: 6.15rem;
    width: 6.15rem;
}
.home,.call,.notice_board{
    height: 2.8rem;
    width: 2.8rem;
}
.dmrs_intro{
    justify-content: center;
}
.dmrs_intro .form{
    width: 100%;
    height: 100%;
}
.form{
    margin: 0%;
    border-radius: 0%;
    padding: 0.3rem;
}
.form h1{
    font-size: 1.4rem;
}
.form div > input{
    text-align: center;
    font-style: italic;
    /* font-family: var(--text_font); */
    color: gray;
    height:  1.7rem;
    padding:  0.6rem;
}
.btn{
    height: 2rem;
    width: 6.7rem;
}
.welcoming_mgs{
    width: 100%;
    margin: 0rem;
    transform: none;
    flex-direction: column;
}
.photo{
    display: none;
}
.mgs , .photo{
    transform: none;
}
.mgs{
    width: 100%;
}
.mgs p{
    font-size: 0.95rem;
}
.opportunity{
    width: 100%;
    margin: 0rem;
}
.opportunit_object{
    flex-direction: column;
}
.object{
    width: 100%;
    padding:  0.6rem;
    margin-top: 0.3rem;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 0.9rem;
    box-shadow: 0 0 1.15rem 0.2rem rgba(255, 255, 255, 0.171);
}
.object:active{
    box-shadow: none;
}
.success_intro{
    display: none;
}
.table_container{
    display: block;
    padding:  0.6rem;
}
.table table{
    width: 70%;
    margin: 1.4rem auto;
}
.review{
    background-image: none;
    background-color: #f77f00;
}
.review_container{
    flex-direction: column;
}
.review_text , .review_photo{
    width: 100%;
}
.review_text p{
    text-align: left;
    padding: 0.3rem;
}
.contact_content{
    flex-direction: column;
    align-items: initial;
}
.map{
    width: 100vw;
    height: 50vh;
}
.map_iframe iframe{
    width: 100vw;
    height: 50vh;
}
.f2{
    box-shadow: none;
}
footer{
    display: block;
}
.foot_logo{
    width: 2.8rem;
}
.text{
    padding:  0.6rem;
    text-align: center;
}
.up{
    width: 2.25rem;
    margin-left: 85%;
}