*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dotted{
    width: 15%;
    border: dotted;
    border-bottom: none;
    margin: 0 auto;
}
/* Strart Header */
header{
    background-color: #ecf0f1;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 10px;
}
.others{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo li .dmrs_logo{
    height: 150px;
    width: 150px;
}
.others li .home{
    height: 80px;
    width: 80px;
}
.others li .call{
    height: 100px;
    width: 100px;
}
.others li .payment{
    height: 100px;
    width: 100px;
}
/* End Header */

/* Start Dmrs introduction */
.dmrs_intro{
    height: 70vh;
    background-image: url('../image/colosseum.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dmrs_intro form{
    background-color: #00000070;
    width: 25%;
    /* height: 95%; */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px 20px #8080803f , 0px 0px 40px 40px #80808041;
    margin-right: 5%;
}
.dmrs_intro form h1{
    color: white;
    text-align: center;
    padding: 20px;
}
.dmrs_intro form div > input{
    text-align: center;
    font-style: italic;
    color: gray;
    width: 250px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.dmrs_intro form > div{
    text-align: center;
}
.btn{
    height: 40px;
    width: 125px;
    font-size: medium;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.123);
    background-color: rgb(235, 235, 235);
}
.btn:active{
    box-shadow: none;
}
/* End Dmrs intro */

/* Start welcoming massage */
.welcoming_mgs{
    background-color: #00bfff;
    width: 95%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skew(5deg);
    transition: .9s;
}
/* .welcoming_mgs:hover{
    transform: scale(1.03);
}
.welcoming_mgs:hover .mgs{
    transform: skew(0deg);
}
.welcoming_mgs:hover .photo{
    transform: skew(0deg);
}*/
.mgs , .photo{
    transform: skew(-5deg);
} 
.mgs{
    width: 60%;
    padding: 10px;
    color: #fff;
}
.mgs hr{
    border: solid;
    border-bottom: none;
}
.mgs h1{
    text-align: center;
    padding: 10px;
}
.photo{
    width: 30%;
}
/* End welcoming massage */
/* Start Opportunity */
.opportunity{
    background-color: #f77f00;
    width: 98%;
    margin: 20px auto;
    border-radius: 10px;
    color: white;
}
.opportunity h1{
    text-align: center;
    padding: 10px;
}
.opportunit_object{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.object{
    text-align: center;
}
.object img{
    transition: all .5s;
}
.object:hover img{
    transform: scale(1.1);
}
/* End Opportunity */

/* Start School Success */
.school_success{
    text-align: center;
    background-color: rgb(42, 202, 255);
    padding: 20px;
    margin: 10px auto;
    color: white;
}
.table_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
table{
    border: 2px solid white;
    border-collapse: collapse;
    outline: 3px solid white;
    outline-offset: 3px;
    background-color: rgba(255, 255, 255, 0.116);
    font-size: 1.2rem;

}
table td,th{
    border: 1px solid white;
    padding: 10px;
}
.success_intro p{
    font-size: 3rem;
}
/* End School Success */