:root{
    --header_font: 'Lobster Two', cursive;;
    --text_font: 'Merienda', cursive;
    --regular_font: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.dotted{
    width: 10%;
    border: 0.25rem dotted white;
    border-bottom: none;
    margin: 0.3rem auto;
}
/* Strart Header */
header{
    background-color: #ecf0f1;
}
header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 0.6rem;
}
.others{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo li .dmrs_logo{
    height: 9rem;
    width: 9rem;
}
.home,.call,.notice_board{
    height: 4.5rem;
    width: 4.5rem;
    /* border-radius: 51% 25% 44% 20% / 46% 18% 47% 24% ; */
    /* box-shadow: 0 0 1.12rem 0.6rem rgb(255, 255, 255); */
}
.home:active , .call:active , .notice_board:active{
    border: 0.06rem solid #ecf0f1;
}
.nav_intro p{
    font-size: 2.3rem;
    color: green;
    font-family: var(--header_font);
}
/* End Header */

/* Start Dmrs introduction */
.dmrs_intro{
    /* height: 70vh; */
    background-image: url('../image/colosseum.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form_container{
    background-color: #00000070;
    width: 20rem;
    border-radius: 0.6rem;
    margin: 5%;
    box-shadow: 0rem 0rem 1.12rem 1.12rem #8080803f , 0rem 0rem 2.3rem 2.3rem #80808041;
    overflow: hidden;
}

.con2{
    background-color: transparent;
    width: 30rem;
}
.form{
    width: 100%;
    /* height: 95%; */
    padding: 0.6rem;
    margin-right: 5%;
}
.form h1{
    color: white;
    text-align: center;
    padding: 1.12rem;
    font-family: var(--regular_font);
}
.form div > input{
    text-align: center;
    font-style: italic;
    /* font-family: var(--text_font); */
    color: gray;
    height: 1.7rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
}
.f1 div > input{
    width: 14rem;
}
.form > div{
    text-align: center;
}
.btn{
    height: 2.23rem;
    width: 7rem;
    font-size: medium;
    border-radius: 1.12rem;
    border: none;
    box-shadow: 0 0 1.12rem 0.17rem rgba(255, 255, 255, 0.253);
    background-color: rgb(235, 235, 235);
}
.btn:active{
    box-shadow: none;
}
/* End Dmrs intro */

/* Start welcoming massage */
.welcoming_mgs{
    background-color: #00bfff;
    width: 95%;
    margin: 0.6rem auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skew(5deg);
    transition: .9s;
}
/* .welcoming_mgs:hover{
    transform: scale(1.03);
}
.welcoming_mgs:hover .mgs{
    transform: skew(0deg);
}
.welcoming_mgs:hover .photo{
    transform: skew(0deg);
}*/
.mgs , .photo{
    transform: skew(-5deg);
} 
.mgs{
    width: 60%;
    padding: 0.6rem;
    color: #fff;
}
.mgs hr{
    border: solid;
    border-bottom: none;
}
.mgs h1{
    text-align: center;
    padding: 0.6rem;
    font-family: var(--regular_font);
}
.mgs p{
    font-size: 1.05rem;
    font-family: var(--text_font);
    padding: 1rem;
}
.photo{
    width: 30%;
}
/* End welcoming massage */
/* Start Opportunity */
.opportunity{
    background-color: #f77f00;
    width: 98%;
    margin: 1.12rem auto;
    border-radius: 0.6rem;
    color: white;
}
.opportunity h1{
    text-align: center;
    padding: 0.6rem;
    font-family: var(--regular_font);
    /* letter-spacing: 0.2rem; */
}
.opportunit_object{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem;
}
.object{
    text-align: center;
    font-family: var(--text_font);
}
.object img{
    transition: all .5s;
    width: 4.5rem
}
.object:hover img{
    transform: scale(1.1);
}
/* End Opportunity */

/* Start School Success */
.school_success{
    text-align: center;
    background-color: #00bfff;
    padding: 1.12rem;
    margin: 0.6rem auto;
    color: white;
}
.school_success h1{
    font-family: var(--regular_font);
}
.table_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
table{
    border: 0.12 solid white;
    border-collapse: collapse;
    outline: 0.17rem solid white;
    outline-offset: 0.17rem;
    background-color: rgba(255, 255, 255, 0.116);
    font-size: 1.2rem;

}
table td,th{
    border: 0.06rem solid white;
    padding: 0.6rem;
    font-family: var(--text_font);
}
.success_intro p{
    font-size: 3rem;
    font-family: var(--text_font);
}
/* End School Success */
/* Start Review */
.review{
    width: 98%;
    margin: 0.6rem auto;
    text-align: center;
    color: black;
    background-color: white;
    background-image: url('../Image/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0.6rem 0.6rem 0.6rem gray;
}
.review_text{
    width: 65%;
}
.review_photo{
    width: 25%;
}
.review_photo img{
    width: 11.5rem;
}
.review_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.review_text h1{
    color: white;
    font-family: var(--regular_font);
}
.review_text p{
    font-family: var(--regular_font);
    font-size: 0.9rem;
}
.report{
    color: white;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
}
.father{
    font-weight: normal;
    font-style: italic;
}
/* End Review */
/* Start Notice */
.notice{
    background-color: #00bfff;
}
.deep_border{
    width: 100%;
    height: 4rem;
    background-color: #00a1d6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deep_border h1{
    font-family: var(--header_font);
    letter-spacing: 0.2rem;
}
.notice_desc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.12rem;
}
.part_1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    color: white;
    border-right: 0.12 solid white;
    font-family: var(--regular_font);
}
.part_2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    color: white;
    font-family: var(--regular_font);
    border-left: 0.12 solid white;
}
.part_1 ul li, .part_2 ul li{
    padding: 0.28rem;
}
/* End Notice */
/* Start Contact */
.contact{
    background-color: #f77f00;
    margin: 0.6rem auto;
}
.contact .deep_border{
    background-color: #c96801;
}
.contact_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.map{
    height: 100vh;
    width: 50vw;
}
.map_object object{
    width: 50vw;
    height: 100vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f2 div > input{
    width: 19.45rem;
}
.f2 div > input:focus{
    outline: 0.06rem solid deepskyblue;
}
.textarea{
    width: 19.45rem;
    border-radius: 0.6rem;
    resize: none;
    text-align: center;
    border: none;
    font-style: italic;
}
.textarea:focus{
    outline: 0.06rem solid deepskyblue;
}
/* End Contact */
/* Start Footer */
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foot_logo{
   width: 5.6rem;
   height: auto;
   background-color: white;
}
.foot_logo img{
    width: 100%;
    height: 100%;
}
.text p{
    color: white;
    font-style: italic;
    font-family: var(--text_font);
    font-size: 0.8rem;
}
.up{
    width: 2.8rem;
    height: auto;
}
.up img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0rem 0rem 1.95rem 0.6rem rgba(255, 255, 255, 0.384);
}
.up img:active{
    box-shadow: none;
}
/* End Footer */